# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.env.*

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Test output
htmlcov/
coverage.xml
*.cover

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/

# System
Thumbs.db
